.MainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px;
    width:100%;
    height:64px;    
}
.search-entry{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
